.user {
  ul li {
    margin-top: 5px;
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 0;
  }

  .chuang img {
    width: 30px;
  }

  .chuang h4 {
    background-color: #f6f6f6;
    line-height: 2.5;
    color: #1c6312;
    margin-top: 10px;
    padding-left: 5px
  }

  .chuang li {
    font-size: 16px;
  }
}