.home {
  margin-top: 10px;

  .nav {
    width: 1000px;
    margin: 0 auto;
    background-color: #f6f6f6;
  }

  .nav ul {
    display: flex;
    padding-left: 0;
    margin: 0;
    justify-content: space-around;
    list-style: none;
    width: 600px;
    height: 40px;
    align-items: center;
  }

  .nav a {
    color: #369219;
    margin: 0 10px;
    padding: 3px 4px;
  }

  .nav a.active {
    background-color: #369219;
    color: #fff;
    border-radius: 3px;
  }

  .topic-list {
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
  }


  .topic-list li {
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid #f0f0f0;
  }

  .topic-list li:hover {
    background-color: #f6f6f6;
  }

  .topic-list li a:nth-child(3) {
    color: #333;
    font-size: 16px;
  }

  .topic-list li a:nth-child(3):hover {
    text-decoration: underline;
  }

  .topic-list li span.zd {
    background: #369219;
    padding: 2px 4px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    margin-right: 5px;
  }

  .topic-list img {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    margin-right: 8px;
  }


}