/* 样式要求使用 df  使用 sass 或者 less */
header {
  width: 100%;
  background: #1c6132;
  font-size: 14px;
  height: 60px;
  display: flex;
  align-items: center;

  img {
    width: 40px;

  }

  .header-inner {
    width: 1000px;
    margin: 0 auto;
  }

  .header-inner a {
    width: 40px;
    display: flex;
    float: left;
  }

  .header-inner div {
    float: left;
    margin-left: 40px;
  }

  .header-inner div input {
    border: 0;
    width: 250px;
    padding-left: 5px;
    height: 27px;
  }

  .wdxx {
    color: #fff;
    width: 200px;

  }

  .header-inner a {
    display: flex;
  }

  .fbht {
    padding: 3px 10px;
    border: 0;
    margin: 0;
    font-size: 14px;
    margin-left: 15px;
    border-radius: 3px;
    line-height: 2em;
    background-color: #369219;
    margin-top: 10px;
  }

  .fbht a {
    width: 60px;
    color: #fff;
  }
}